# General
.DS_Store
*.swp
*.swp
*~
._*

# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
# If you're using Flutter 2.0 or above, .flutter-plugins and .flutter-plugins-dependencies
# have been deprecated and can be replaced by .flutter-plugins-dependencies and .dart_tool/package_config.json
.flutter-plugins-dependencies
.dart_tool/package_config.json

# Android related
**/android/**/*.gradle
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/key.properties

# iOS related
**/ios/**/*.generated.dart
**/ios/Flutter/.last_build_id
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.symlinks/
**/ios/Flutter/build/
**/ios/.generated/
**/ios/Pods/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
**/ios/Runner.xcworkspace/contents.xcworkspacedata
**/ios/.vagrant/

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/GeneratedPluginRegistrant.*
**/macos/Pods/
**/macos/Flutter/Flutter.framework
**/macos/Flutter/App.framework
**/macos/Flutter/FlutterMacOS.framework
**/macos/Flutter/ephemeral/flutter_macos.framework
**/macos/.symlinks/
**/macos/Runner.xcworkspace/xcuserdata/
**/macos/Runner.xcodeproj/xcuserdata/
**/macos/.vagrant/

# Web related
**/web/favicon.png
**/web/icons/*
**/web/manifest.json
**/web.iml

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws
*.idea/

# VS Code related
.vscode/

# Temp files
tmp/
temp/
